body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

button {
    height: 32px;
    width: 96px;
    border-style: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: bold;
}

.header, 
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-bar,
#header-box,
#content-box {
    padding: 0px 96px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links,
#awesome-subtext {
    color: #E5E7EB;
}

.header-links {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;

}

#header-box {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

#awesome {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    gap: 8px
}

#awesome-main {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
}

#awesome-subtext {
    font-size: 18px;
}

#header-img {
    background-color: #6d747e;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    background-color: white;
    padding-bottom: 64px;
}

#content-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

#content-box {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.img-box {
    height: 144px;
    width: 144px;
    border-radius: 16px;
    border: #3882F6 solid 2px;
}

.img-subtext {
    width: 144px;
    color: #6d747e;
    text-align: center;
}

.quote,
.call-to-action {
    padding: 64px 96px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

#quote-body {
    font-size: 36px;
    font-weight: 100;
}

#quoter {
    color: black;
    font-size: 24px;
    font-weight: 900;
    align-self: self-end;
}

.call-to-action {
    background-color: #F9FAF8;
}

#action-box {
    padding: 32px 96px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

#action-text {
    display: flex;
    flex-direction: column;
}

#action-main {
    font-size: 24px;
    font-weight: 900;
}

#action-subtext {
    font-size: 18px;
    font-weight: 100;
}

#action-button {
    border: #F9FAF8 solid 2px;
}

.footer {
    padding: 32px;
    text-align: center;
}